# requirements.txt
fastapi==0.109.2
uvicorn==0.27.1
streamlit==1.31.1
pydantic
pydantic-settings==2.1.0
pytest
httpx==0.26.0
pyyaml
PyPDF2==3.0.1
aiofiles==23.2.1
pycryptodome==3.20.0
python-dotenv==1.0.1
pandas==2.2.0
